body,h1,h2,p,img{
    margin:0;
    padding: 0;
}

.whole-page{
    display: flex;
    width: 100%;
}

.navigation{
    width: 25%;
    height: 100vh;
    box-sizing: border-box; /* ボーダーボックスモデルを使用 */
    border-right: 1px solid #ccc; /* 縦のラインを引く */
    position: fixed;
    padding-left: 7%;

}
.title > h3{
    margin-top: 15%;
    padding-left: 10%;
}

li{
    list-style: none;
    margin-top: 15%;
    padding-left: 10%;
}

li > a{
    text-decoration: none;
}

.list-a{
    text-decoration: none;
    color: black;
    transition: font-size 0.3s ease-in-out;
    transform-origin: center;
    font-size: 18px;
    /* padding-right: 10px; */
    
}

.list-a > i{
    padding-right: 10px;
}

/* .list-a:hover{
   transform: scale(1.2);
   color: black;
   text-decoration: none;
} */


.content{
    width:45%;
    height:100vh;
    margin-left: 25%;
    margin-top: 5%;
    padding-left:10%;
    padding-right: 10%;
    justify-content: center;
    
}

.post-box{
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
}



a > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.post-content{
    display: column;
}

.username{
    margin-left: 10px;
    padding-top: 1%;

}

.user-display{
    width: 30%;
    height: 100vw;
    margin-top: 5%;
    /* display: flex; */
    /* align-items: center; */

}
.my-profile{
    display: flex;
    /* align-items: center; */
}

.my-profile > img{
    /* display: flex; */
    width: 40px; /* 例: アバターの幅を指定 */
    height: 40px; /* 例: アバターの高さを指定 */
    border-radius: 50%; /* 丸い形状にする（必要に応じて） */
    margin-right: 10px; /* 適切な間隔を追加 */
}

a{
    display: flex;
    text-decoration: none;
}

.username {
    font-weight: bold; /* 例: ユーザー名の太字スタイル */
}

/* footer{
    display:flex;
    height:50px;
    background-color: darkslategrey;
    align-items: center;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width:100%;

}

.footer-left{
    width: 33%;

}

.footer-center{
    width: 34%;

}

.footer-right{
    width: 33%;

} */

.fa-lg{
    color:white;
}

/* .new-post-button {
    position: absolute;
    right: 30px; 
    top: -75px; 
    background-color: darkslategray;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
} */