body{
    padding: 0;
    margin: 0;
    background: url(../storage/images/welcome.jpg);
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: cover;
    opacity: 0.7; 
    width: 100vw;
    height:100vh;
}

@media screen and (max-width: 700px) {
    body {
        position: relative;
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5); /* 白い背景色（最後の数値は透明度） */
        z-index: -1; /* フィルターを背面に配置 */
    }

    body::after {
        content: "";
        background: url(../storage/images/welcome.jpg) no-repeat center;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2; /* 画像を最背面に配置 */
    }
}


.top-page {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.title {
    color: black;
    font-size: 120px;
    margin-bottom: 5%;
    text-align: center;
    
}

@media screen and (max-width: 700px) {
    .title {
        font-size: 60px;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 700px) {
    .top-text {
        margin-bottom: 30%;
    }
}

.hometext {
    font-size: 20px;
    margin-right: 50px;
    padding: 10px 20px;
    text-decoration: none;
    border: solid 2px black;
    border-radius: 30px;
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .hometext {
        margin-right: 20px;
    }
}

.dropdown-item {
    font-size: 20px;
    margin-left: 50px;
    padding: 10px 20px;
    text-decoration: none;
    border: solid 2px black;
    border-radius: 30px;
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .dropdown-item {
        margin-left: 20px;
    }
}

.logintext {
    font-size: 20px;
    margin-right: 50px;
    padding: 10px 20px;
    text-decoration: none;
    border: solid 2px black;
    border-radius: 30px;
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .logintext {
        margin-right: 20px;
    }
}

.registertext {
    font-size: 20px;
    margin-left: 50px;
    padding: 10px 20px;
    text-decoration: none;
    border: solid 2px black;
    border-radius: 30px;
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .registertext {
        margin-left: 20px;
    }
}

